body {
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
}
/* header*/
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-right: 5%;
  /* START LEFT HEADER*/
  /* END LEFT HEADER*/
  /*   START RIGHT HEADER*/
  /* END RIGHT HEADER*/
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  .header {
    padding-right: 0px;
  }
}
.header-name {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 50px;
}
.header-name a {
  text-decoration: none;
}
.header-name a span {
  color: yellow;
}
.header-name a p {
  color: white;
}
.header__about {
  margin: 40px 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.header__about__log-login,
.header__about__log-register {
  margin-bottom: 15px;
}
.header__about__log-logout:hover {
  color: red;
}
.header__about__log-register {
  border: none;
}
.header__about__log a {
  text-decoration: none;
  color: white;
}
.header__about__log a:hover {
  color: red;
}
.header__about-down {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.header__about-down:hover {
  color: blue;
  cursor: pointer;
}
/* END HEADER*/
.nav {
  background-color: #88a0f7;
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  /*START LEFT NAV*/
}
.nav__left {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  background: #fceabb;
  background: linear-gradient(to right, #fceabb 0%, #fccd4d 32%, #f8b500 51%, #fbdf93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1);
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .nav__left {
    position: relative;
    min-height: 39px;
    width: 100%;
    justify-content: flex-end;
  }
}
.nav__left ul {
  z-index: 5;
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .nav__left ul {
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292e49, #536976, #bbd2c5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292e49, #536976, #bbd2c5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-radius: 5px;
    width: 100%;
  }
  .nav__left ul:hover li {
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4286f4, #373b44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4286f4, #373b44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    border: 1px solid black;
    border-radius: 5px;
  }
}
.nav__left ul li {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
}
.nav__left ul li:hover {
  border-radius: 5px;
  background: white;
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .nav__left ul li:hover {
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292e49, #536976, #bbd2c5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292e49, #536976, #bbd2c5);
  }
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .nav__left ul li {
    display: none;
  }
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .nav__left ul li p {
    line-height: 0px;
  }
}
.nav__left ul li a {
  text-decoration: none;
}
.nav__left ul li p {
  font-family: Bradley Hand, cursive;
  line-height: 39px;
  font-size: 20px;
  color: black;
}
.nav__left ul li p:hover {
  color: #164f0d;
  color: red;
}
/*END NAV*/
/*START WRAPPER*/
.wrapper {
  background-color: #f2f9fc;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  /*START SIDEBAR*/
  /*END SIDEBAR*/
  /*START ARICLE*/
  /*END ARTICLE*/
}
.wrapper__sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
}
@media  only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper__sidebar {
    width: 33%;
  }
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  .wrapper__sidebar {
    display: none;
  }
}
.wrapper__sidebar__catalog_name {
  border-radius: 10px;
  height: 30px;
  width: 100%;
  margin: 20px 0px 0px;
  background: #753a35;
  background: -webkit-linear-gradient(77deg, #753a35 23%, #23320f 71%);
  background: -o-linear-gradient(77deg, #753a35 23%, #23320f 71%);
  background: -ms-linear-gradient(77deg, #753a35 23%, #23320f 71%);
  background: linear-gradient(77deg, #753a35 23%, #23320f 71%);
}
.wrapper__sidebar__catalog_name p {
  font-size: 28px;
  color: white;
  text-align: center;
}
.wrapper__sidebar-catalog {
  margin-left: 10%;
}
.wrapper__sidebar-catalog li {
  margin: 20px 0;
}
.wrapper__sidebar-catalog a {
  text-decoration: none;
  color: black;
  font: italic 22px serif;
}
@media  only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper__sidebar-catalog a {
    font-size: 19px;
  }
}
.wrapper__sidebar-catalog a:hover {
  color: red;
}
.wrapper__sidebar__new {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper__sidebar__new-product {
  height: 40px;
  background-color: #70876c;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.wrapper__sidebar__new-product marquee {
  direction: rtl;
  text-align: center;
  font-size: 30px;
  color: #ffe500;
}
.wrapper__sidebar__new-image {
  width: 100%;
}
.wrapper__sidebar__new-image img {
  width: 100%;
}
.wrapper__delivery {
  display: none;
  margin: 50px auto;
  width: 77%;
}
.wrapper__delivery-main {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.wrapper__delivery-how {
  font-size: 20px;
  margin: 30px;
}
.wrapper__delivery table {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  font-size: 20px;
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  .wrapper__delivery table {
    width: 200px;
  }
}
.wrapper__delivery table caption {
  margin-bottom: 20px;
}
.wrapper__delivery table tr {
  margin-top: 20px;
  width: 150px;
}
.wrapper__delivery table tr th {
  font-size: 25px;
  border: 1px solid;
}
.wrapper__delivery table tr td {
  font-size: 20px;
  border: 1px solid;
}
.wrapper__delivery-end {
  font-size: 20px;
}
.wrapper__contacts {
  display: none;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}
.wrapper__contacts-first {
  font-size: 50px;
  margin-bottom: 20px;
}
.wrapper__contacts-second {
  font-size: 30px;
  margin-bottom: 20px;
}
.wrapper__contacts-third {
  font-size: 40px;
  margin-bottom: 20px;
}
.wrapper__contacts-fourth {
  font-size: 30px;
  margin-bottom: 20px;
}
.wrapper__contacts-fifth {
  font-size: 40px;
  margin-bottom: 20px;
}
.wrapper__article {
  width: 80%;
}
@media  only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper__article {
    display: none;
  }
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  .wrapper__article {
    width: 100%;
  }
}
.wrapper__article__categories ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper__article__categories ul li {
  margin: 30px;
  display: flex;
}
.wrapper__article__categories ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wrapper__article__categories ul li a img {
  width: 100%;
}
.wrapper__article__categories ul li a p {
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper__article__mattresses,
.wrapper__article__with,
.wrapper__article__without,
.wrapper__article__box,
.wrapper__article__split {
  margin: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper__article__mattresses__first,
.wrapper__article__with__first,
.wrapper__article__without__first,
.wrapper__article__box__first,
.wrapper__article__split__first,
.wrapper__article__mattresses__second,
.wrapper__article__with__second,
.wrapper__article__without__second,
.wrapper__article__box__second,
.wrapper__article__split__second,
.wrapper__article__mattresses__third,
.wrapper__article__with__third,
.wrapper__article__without__third,
.wrapper__article__box__third,
.wrapper__article__split__third,
.wrapper__article__mattresses__fourth,
.wrapper__article__with__fourth,
.wrapper__article__without__fourth,
.wrapper__article__box__fourth,
.wrapper__article__split__fourth,
.wrapper__article__mattresses__fifth,
.wrapper__article__with__fifth,
.wrapper__article__without__fifth,
.wrapper__article__box__fifth,
.wrapper__article__split__fifth,
.wrapper__article__mattresses__sixth,
.wrapper__article__with__sixth,
.wrapper__article__without__sixth,
.wrapper__article__box__sixth,
.wrapper__article__split__sixth {
  margin: 20px;
}
.wrapper__article__mattresses__first p,
.wrapper__article__with__first p,
.wrapper__article__without__first p,
.wrapper__article__box__first p,
.wrapper__article__split__first p,
.wrapper__article__mattresses__second p,
.wrapper__article__with__second p,
.wrapper__article__without__second p,
.wrapper__article__box__second p,
.wrapper__article__split__second p,
.wrapper__article__mattresses__third p,
.wrapper__article__with__third p,
.wrapper__article__without__third p,
.wrapper__article__box__third p,
.wrapper__article__split__third p,
.wrapper__article__mattresses__fourth p,
.wrapper__article__with__fourth p,
.wrapper__article__without__fourth p,
.wrapper__article__box__fourth p,
.wrapper__article__split__fourth p,
.wrapper__article__mattresses__fifth p,
.wrapper__article__with__fifth p,
.wrapper__article__without__fifth p,
.wrapper__article__box__fifth p,
.wrapper__article__split__fifth p,
.wrapper__article__mattresses__sixth p,
.wrapper__article__with__sixth p,
.wrapper__article__without__sixth p,
.wrapper__article__box__sixth p,
.wrapper__article__split__sixth p {
  margin-bottom: 15px;
  text-shadow: 3px 3px 3px black;
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}
.wrapper__article__mattresses__first-image,
.wrapper__article__with__first-image,
.wrapper__article__without__first-image,
.wrapper__article__box__first-image,
.wrapper__article__split__first-image,
.wrapper__article__mattresses__second-image,
.wrapper__article__with__second-image,
.wrapper__article__without__second-image,
.wrapper__article__box__second-image,
.wrapper__article__split__second-image,
.wrapper__article__mattresses__third-image,
.wrapper__article__with__third-image,
.wrapper__article__without__third-image,
.wrapper__article__box__third-image,
.wrapper__article__split__third-image,
.wrapper__article__mattresses__fourth-image,
.wrapper__article__with__fourth-image,
.wrapper__article__without__fourth-image,
.wrapper__article__box__fourth-image,
.wrapper__article__split__fourth-image,
.wrapper__article__mattresses__fifth-image,
.wrapper__article__with__fifth-image,
.wrapper__article__without__fifth-image,
.wrapper__article__box__fifth-image,
.wrapper__article__split__fifth-image,
.wrapper__article__mattresses__sixth-image,
.wrapper__article__with__sixth-image,
.wrapper__article__without__sixth-image,
.wrapper__article__box__sixth-image,
.wrapper__article__split__sixth-image {
  width: 100%;
}
.wrapper__article__mattresses__first-image img,
.wrapper__article__with__first-image img,
.wrapper__article__without__first-image img,
.wrapper__article__box__first-image img,
.wrapper__article__split__first-image img,
.wrapper__article__mattresses__second-image img,
.wrapper__article__with__second-image img,
.wrapper__article__without__second-image img,
.wrapper__article__box__second-image img,
.wrapper__article__split__second-image img,
.wrapper__article__mattresses__third-image img,
.wrapper__article__with__third-image img,
.wrapper__article__without__third-image img,
.wrapper__article__box__third-image img,
.wrapper__article__split__third-image img,
.wrapper__article__mattresses__fourth-image img,
.wrapper__article__with__fourth-image img,
.wrapper__article__without__fourth-image img,
.wrapper__article__box__fourth-image img,
.wrapper__article__split__fourth-image img,
.wrapper__article__mattresses__fifth-image img,
.wrapper__article__with__fifth-image img,
.wrapper__article__without__fifth-image img,
.wrapper__article__box__fifth-image img,
.wrapper__article__split__fifth-image img,
.wrapper__article__mattresses__sixth-image img,
.wrapper__article__with__sixth-image img,
.wrapper__article__without__sixth-image img,
.wrapper__article__box__sixth-image img,
.wrapper__article__split__sixth-image img {
  width: 100%;
  height: 200px;
}
.wrapper__article__mattresses__first-price p,
.wrapper__article__with__first-price p,
.wrapper__article__without__first-price p,
.wrapper__article__box__first-price p,
.wrapper__article__split__first-price p,
.wrapper__article__mattresses__second-price p,
.wrapper__article__with__second-price p,
.wrapper__article__without__second-price p,
.wrapper__article__box__second-price p,
.wrapper__article__split__second-price p,
.wrapper__article__mattresses__third-price p,
.wrapper__article__with__third-price p,
.wrapper__article__without__third-price p,
.wrapper__article__box__third-price p,
.wrapper__article__split__third-price p,
.wrapper__article__mattresses__fourth-price p,
.wrapper__article__with__fourth-price p,
.wrapper__article__without__fourth-price p,
.wrapper__article__box__fourth-price p,
.wrapper__article__split__fourth-price p,
.wrapper__article__mattresses__fifth-price p,
.wrapper__article__with__fifth-price p,
.wrapper__article__without__fifth-price p,
.wrapper__article__box__fifth-price p,
.wrapper__article__split__fifth-price p,
.wrapper__article__mattresses__sixth-price p,
.wrapper__article__with__sixth-price p,
.wrapper__article__without__sixth-price p,
.wrapper__article__box__sixth-price p,
.wrapper__article__split__sixth-price p {
  font-size: 20px;
  text-shadow: none;
  margin-top: 20px;
}
.wrapper__article__carousel {
  perspective: 1200px;
  background: #100000;
  padding-top: 3%;
  font-size: 0;
  margin-bottom: 3rem;
  overflow: hidden;
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  .wrapper__article__carousel {
    display: none;
  }
}
.wrapper__article__carousel-spinner {
  transform-style: preserve-3d;
  height: 390px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
.wrapper__article__carousel-spinner img {
  width: 50%;
  position: absolute;
  height: 320px;
  left: 25%;
  transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
}
.wrapper__article__carousel-spinner img:nth-child(1) {
  transform: rotateY(0deg);
}
.wrapper__article__carousel-spinner img:nth-child(2) {
  transform: rotateY(-45deg);
}
.wrapper__article__carousel-spinner img:nth-child(3) {
  transform: rotateY(-90deg);
}
.wrapper__article__carousel-spinner img:nth-child(4) {
  transform: rotateY(-135deg);
}
.wrapper__article__carousel-spinner img:nth-child(5) {
  transform: rotateY(-180deg);
}
.wrapper__article__carousel-spinner img:nth-child(6) {
  transform: rotateY(-225deg);
}
.wrapper__article__carousel-spinner img:nth-child(7) {
  transform: rotateY(-270deg);
}
.wrapper__article__carousel-spinner img:nth-child(8) {
  transform: rotateY(-315deg);
}
.wrapper__article__carousel-left,
.wrapper__article__carousel-right {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 4rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  .wrapper__article__carousel-left,
  .wrapper__article__carousel-right {
    display: none;
  }
}
.wrapper__article__carousel-left:hover,
.wrapper__article__carousel-right:hover {
  color: #888;
  cursor: pointer;
}
.wrapper__article__carousel-left {
  float: left;
}
.wrapper__article__carousel-right {
  float: right;
}
.wrapper__newCarousel {
  display: none;
}
@media  only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper__newCarousel {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
  }
}
.wrapper__newCarousel__slides {
  position: relative;
  height: 380px;
  list-style-type: none;
}
.wrapper__newCarousel__slides-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.wrapper__newCarousel__slides-slide img {
  width: 100%;
  height: 100%;
}
.wrapper__newCarousel__buttons {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-size: 0px;
}
.wrapper__newCarousel__buttons-controls {
  background: #333;
  color: #fff;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
  border-radius: 10px;
}
.wrapper__newCarousel__buttons-controls:hover,
.wrapper__newCarousel__buttons-controls:focus {
  background: red;
  color: #333;
}
footer {
  width: 100%;
  border-radius: 10px;
  background: #f8f5ff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f8f5ff 0%, #ddd7e5 40%, #b8aebe 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f8f5ff 0%, #ddd7e5 40%, #b8aebe 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f8f5ff 0%, #ddd7e5 40%, #b8aebe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f5ff', endColorstr='#b8aebe', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
footer .down {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  footer .down-left ul li:nth-child(-n+3) {
    display: none;
    font-size: 30px;
  }
}
footer .down-left li {
  padding: 15px 10px;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
}
footer .down-left li:hover {
  color: red;
  text-decoration: underline;
}
footer .down-left li a {
  color: black;
  text-decoration: none;
}
footer .down-left li a:hover {
  text-decoration: underline;
  color: red;
}
footer .down-right p {
  padding: 15px 0;
}
nav ul .nav__left-hidden {
  display: none;
}
@media  only screen and (min-width: 480px) and (max-width: 767px),  only screen and (min-width: 10px) and (max-width: 479px) {
  nav ul .nav__left-hidden {
    display: block;
  }
}
.showing {
  opacity: 1;
  z-index: 2;
}
#top {
  display: block;
  bottom: 5%;
  cursor: pointer;
  font-size: 150%;
  position: fixed;
  right: 2%;
  padding: 15px;
  border-radius: 50%;
  background: black;
  z-index: 20;
}
#modal_form {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #bdc0c9;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 30;
  padding: 20px 10px;
}
@media  only screen and (min-width: 10px) and (max-width: 479px) {
  #modal_form {
    width: 200px;
    margin-left: -115px;
  }
}
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
#basket,
.close,
.order {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}
#basket:hover,
.close:hover,
.order:hover {
  color: black;
  background-color: white;
}
.downBt {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-around;
}
.close,
.order {
  margin: 0 auto;
}
